

.tituloPrincipal{
    font-size: 60px;
    text-align: center;
}

.lateral{
    float: left;
    display: flex;
    
    margin-right: 4px;

}

.principalContainer{
    height: 90%;
    width: 92%;
    align-content: center;
    position: relative;
    
                 
    
    

  

    
   
  


}



