body {
  font-family: Arial, sans-serif;
  font-size: 18px;
}

#sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #f0f0f0;
  padding: 20px;
  box-sizing: border-box;
}


#content {
  margin-left: 220px;
  padding: 20px;
}

#sidebar h5 {
  margin-bottom: 10px;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin-bottom: 10px;
}

#sidebar ul li a {
  text-decoration: none;
  color: #0751c0;
}

.lateralInfo{
  font-size: 16px;
  margin-top: 1px;

}

.topicos{
  font-size: 25px;
  margin-top: 60px;
}